// Bright orange: hsl(31, 77%, 52%)
// Dark cyan: hsl(184, 100%, 22%)
// Very dark cyan: hsl(179, 100%, 13%)

// Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
// Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
:root{
    --yellow:hsl(31, 77%, 52%);
    --blue:hsl(184, 100%, 22%);
    --green:hsl(179, 100%, 13%);

    --text:hsla(0, 0%, 100%, 0.75);
    --bg:hsl(0, 0%, 95%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body{
    margin: 1.5rem;
    background-color: var(--bg);
    @media (min-width: 600px){
        display: grid;
        place-content: center;
    }
}
.yellow {
    background-color: var(--yellow);
}
.blue {
    background-color: var(--blue);
}
.green {
    background-color: var(--green);
}

.container {
    display: grid;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 920px;
        margin-bottom: 0;
      }
}
.card {
    padding: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    &__content {
        display: grid;
        gap: 2.5rem;
    }
    &__title {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 2.125rem;
        text-transform: uppercase;
        color: var(--bg);
    }
    &__text {
        font-size: .9375rem;
        color: var(--text);
        line-height: 1.7rem;
        padding-bottom: 1.6875rem;
        @media (min-width: 600px){
            padding-bottom: 4.125rem;
        }
    }
    .button {
        cursor: pointer;
        text-decoration: none;
        background-color: var(--bg);
        border: 3px solid var(--bg);
        border-radius: 2rem;
        padding: 13px 30px;
        max-width: 160px;
        transition: 300ms ease;
    }
}

.y {
    color: var(--yellow);
        &:is(:hover, :focus) {
            background-color: var(--yellow);
            color: var(--bg);
          }
}
.b {
    color: var(--blue);
    &:is(:hover, :focus) {
        background-color: var(--blue);
        color: var(--bg);
      }
}
.g {
    color: var(--green);
    &:is(:hover, :focus) {
        background-color: var(--green);
        color: var(--bg);
      }
}